@import "../../scss/var";
.button {
  width: 200px;
  height: 50px;
  border: 1px solid $secondaryColor;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  z-index: 1;
  a {
    color: $primaryText;
    font-size: 24px;
    z-index: 1;
    transition: all 0.2s;
  }
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: $secondaryColor;
    height: 100%;
    width: 100%;
    z-index: -1;
    transform-origin: bottom left;
    transform: rotate(-90deg);
    transition: transform 0.5s;
  }
  &:hover::before {
    transform: rotate(0deg);
  }
  &:hover a {
    color: white;
  }
}
